body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1{color:grey;
font-family:verdana;

}

.maindiv{
    background-color:white;
    color:black;
    width:600px;
    padding:20px;
    border-radius:25px;
    align: center;
}

.sousdiv{
    
     width: 50px;
  height: 50px;
  background-color: red;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
}

.spanResult{
    display:block;
    padding:10px 0px 0px 0px;
}










