body 
{
    background-color:Black; 
    color:white; 
    font:arial;
}

h1
{
    color:grey; 
    font:verdana;
    font-size:25px;
}

.maindiv {
    background-color:white;
    color:black;
    width:700px;
    padding:20px;
    border-radius:25px;
    align:center
}

.spanResult
{
    display:block;
    padding:10px;
}










