body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1{color:grey;
font-family:verdana
}

.maindiv {
    background-color:white;
    color:500px;
    padding:20px;
    border-radius:25px;
    align:center;
}

.sousdiv{
    padding-left:50px;
}

.spanResult
{
    display:block;
    padding:10px 0px 0px 0px;
}










